<div [formGroup]="form">
  <mat-radio-group formControlName="courseType">
    <mat-radio-button value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>

  <file-upload requiredFileType="image/svg" formControlName="thumbnail"></file-upload>

  <mat-form-field>
    <input type="number" matInput placeholder="Price"  formControlName="price">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Promotional period</mat-label>
    <mat-date-range-input [rangePicker]="promoPicker">
      <input matStartDate placeholder="Start date" formControlName="promoStartDateAt">
      <input matEndDate placeholder="End date" formControlName="promoEndDateAt">
    </mat-date-range-input>
    <mat-error *ngIf="form.errors?.['promoPeriod'] && form.dirty">date period is not valid</mat-error>
    <mat-datepicker-toggle [for]="promoPicker" matSuffix></mat-datepicker-toggle>
    <mat-date-range-picker #promoPicker></mat-date-range-picker>
  </mat-form-field>
</div>
